# The sdist includes only the minimum amount of files required to build (but not test) from source
# If users want a 'true' source distribution then the supported way to get it is via GitHub, not PyPI.
# It shouldn't actually be important whether or not the sdist is put on PyPI.
include LICENSE
include metadata.py
recursive-include src *.hpp
recursive-include src *.inl
prune test