# The sdist includes only the minimum amount of files required to build (but not test) from source
# However if users want a 'true' source distribution then the supported way to get it is via GitHub, not PyPI.
include LICENSE
include metadata.py
recursive-include src *.hpp
recursive-include src *.inl
prune test